<li>
  <%= link_to "Balance Sheet", "/households/#{params[:household_id]}/reports/balance_sheet" %>
</li>
<li>
  <%= link_to "Income Statement", "/households/#{params[:household_id]}/reports/income_statement" %>
</li>
<li>
  <%= link_to "General Ledger", "/households/#{params[:household_id]}/accounts" %>
</li>
<li>
  <%= link_to "Journal", "/households/#{params[:household_id]}/entries" %>
</li>
